[flake8]
max_line_length = 88
extend-ignore=
    # Whitespace before ':'
    E203
    # Line break occurred before a binary operator
    W503
    # unindexed parameters in the str.format, see:
    # https://pypi.org/project/flake8-string-format/
    P1
max-complexity = 10
show_source = true
count = true
min_python_version = 3.8.0
per-file-ignores =
    dvc/testing/benchmarks/conftest.py:F401
    dvc/testing/conftest.py:F401
    dvc/testing/plugin.py:F401
    tests/conftest.py:F401
    tests/func/experiments/executor/test_ssh.py:F401
