neatlynx.conf
neatlynx/__pycache__
.idea
/cache
*.pyc
.env/
.env2.7/

.dvc.conf.lock
.DS_Store
build/
dist/

*.egg-info/

hooks/*.pyc

*.rpm
*.deb

innosetup/config.ini

*.exe

.coverage
.coverage.*

*.sw?

pip-wheel-metadata/
.vscode/

azurite
env.sh
tests/remotes_env
tests/gdrive-user-credentials.json
scripts/ci/gcp-creds.json
.gcp-creds.json

*~
