__pycache__/
neatlynx.conf
.idea
/cache
*.pyc

.env*/
.venv
env/
venv/
.python-version

.dvc.conf.lock
.DS_Store
build/
dist/

*.egg-info/
.eggs

hooks/*.pyc

*.rpm
*.deb

innosetup/config.ini

*.exe

.coverage
.coverage.*
coverage.xml

*.sw?

pip-wheel-metadata/
.vscode/

azurite
env.sh
tests/remotes_env
scripts/ci/gcp-creds.json
.gcp-creds.json

*~
/dvc/_version.py

.mypy_cache/
.pytest_cache/
.nox/
.tox/
htmlcov/
