wheel==0.36.2

# Test requirements
pytest==6.2.4
pytest-cov==2.12.1
pytest-xdist==2.3.0
pytest-mock==3.6.1
pytest-lazy-fixture==0.6.3
pytest-timeout==1.4.2
pytest-docker==0.10.3

flaky==3.7.0
mock==4.0.3
rangehttpserver==1.2.0
mock-ssh-server==0.9.0
beautifulsoup4==4.9.3
wget==3.2
filelock==3.0.12
wsgidav==3.1.0
crc32c==2.2
xmltodict==0.12.0
google-compute-engine==2.8.13
google-cloud-storage==1.38.0

urllib3==1.26.5

# required by collective.checkdocs
Pygments==2.9.0
collective.checkdocs==0.2
pydocstyle==6.1.1
jaraco.windows==5.5.0

# pylint requirements
pylint==2.8.3
# we use this to suppress pytest-related false positives in our tests.
pylint-pytest==1.0.3
# we use this to suppress some messages in tests, eg: foo/bar naming,
# and, protected method calls in our tests
pylint-plugin-utils==0.6

# type-checking
mypy==0.902
types-requests
types-paramiko
types-tabulate
types-toml

# pypi doesn't allow for direct dependencies
# gdrivefs @ git+https://github.com/intake/gdrivefs.git
