name: benchmarks
on: [pull_request, workflow_dispatch]

jobs:
  bench:
    name: run benchmarks
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04]
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}
      - uses: actions/setup-python@v4
        with:
            python-version: 3.8
      - uses: iterative/dvc-bench@main
        with:
            pytest_options: "-k 'test_init or test_help'"

