name: benchmarks
on: [pull_request, workflow_dispatch]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  PY_COLORS: "1"

jobs:
  bench:
    name: run benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v5
        with:
            python-version: "3.12"

      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.base.sha }}
          fetch-depth: 0

      - uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          cache-dependency-glob: pyproject.toml

      - run: uv pip install '.[tests]' --system
      - name: run benchmarks on base branch
        run: pytest --benchmark-autosave dvc/testing/benchmarks/ -k 'test_init or test_help'

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          clean: false
      - run: uv pip install '.[tests]' --system
      - name: run benchmarks for PR
        run: >
          pytest --benchmark-compare --benchmark-compare-fail=min:5%
          --benchmark-group-by name
          dvc/testing/benchmarks/ -k 'test_init or test_help'
