name: benchmarks
on: [pull_request, workflow_dispatch]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  bench:
    name: run benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v4
        with:
            python-version: "3.11"
      - uses: iterative/dvc-bench@main
        with:
            pytest_options: "-k 'test_init or test_help'"
