name: Build and upload package
on:
  push:
    branches:
    - main
  release:
    types:
    - published
  workflow_dispatch:

env:
  FORCE_COLOR: 1

permissions:
  contents: read

jobs:
  build:
    name: Build & Verify package
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - uses: actions/setup-python@v6
      with:
        python-version: 3.13

    - uses: astral-sh/setup-uv@v6

    - name: Omit local version for Test PyPI upload
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: echo SETUPTOOLS_SCM_OVERRIDES_FOR_DVC='{local_scheme="no-local-version"}' >> $GITHUB_ENV

    - name: Build Python Package
      run: |
        echo 'PKG = "pip"'>dvc/_build.py
        uv build

    - name: Check dist
      run: uv tool run twine check --strict dist/*

    - uses: actions/upload-artifact@v4
      with:
        name: Packages
        path: dist/
        if-no-files-found: error

  test-pypi-publish:
    name: Publish dev package to test.pypi.org
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.event.action == 'published' || (github.repository == 'iterative/dvc' && github.event_name == 'push' && github.ref == 'refs/heads/main') }}

    environment:
      name: test-pypi
      url: https://test.pypi.org/p/dvc/${{ github.event.release.tag_name }}

    permissions:
      id-token: write

    steps:
    - uses: actions/download-artifact@v5
      with:
        name: Packages
        path: dist

    - name: Upload package to Test PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/
        skip-existing: true

  pypi-publish:
    name: Publish released package to pypi.org
    runs-on: ubuntu-latest
    needs: build
    if: github.event.action == 'published'

    environment:
      name: pypi
      url: https://pypi.org/p/dvc/${{ github.event.release.tag_name }}

    permissions:
      id-token: write

    steps:
    - uses: actions/download-artifact@v5
      with:
        name: Packages
        path: dist

    - name: Upload package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
