name: Remote Plugin Tests

on:
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  tests:
    timeout-minutes: 45
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04]
        pyv: ["3.10"]
        plugin: ["dvc-s3"]

    steps:
    - uses: actions/checkout@v3
      with:
        path: dvc

    - uses: actions/checkout@v3
      with:
        repository: iterative/${{ matrix.plugin }}
        ref: main
        path: ${{ matrix.plugin }}

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.pyv }}
        cache: pip
        cache-dependency-path: |
          dvc/pyproject.toml
          ${{ matrix.plugin }}/setup.cfg

    - name: Install plugin + DVC@PR
      run: |
        pip install --upgrade pip wheel
        pip install "./dvc[testing]"
        pip install -e "./${{ matrix.plugin }}[tests]"

    - name: Run plugin tests
      timeout-minutes: 15
      working-directory: ${{ matrix.plugin }}
      run: pytest -v -n=auto
