name: Pylint :(

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install Requirements
      run: bash ./scripts/ci/install.sh
    - name: Make pylint happy
      run: pylint dvc tests
